@model AstroShop.Data.Data.CMS.BlogType

@{
    ViewData["Title"] = "Details";
}

<div class="dark-theme-primary-bg">
    <div class="swift-window mar-top-2 pad-2">
        <h4 class="pad-2 center" style="margin-left: 1rem;">Guide details</h4>
        <div class="row" style="padding:0rem 4rem;">
            <div class="col s12 left mar-bottom-2" style="border-bottom: 1px solid #A16EFF; ">
                <h5>
                    @Html.DisplayNameFor(model => model.Name)
                </h5>
                <h6 class="mar-1">
                    @Html.DisplayFor(model => model.Name)
                </h6>
            </div>
            <div class="col s12 left mar-bottom-2" style="border-bottom: 1px solid #A16EFF; ">
                <h5>
                    @Html.DisplayNameFor(model => model.Description)
                </h5>
                <h6 class="mar-1">
                    @Html.DisplayFor(model => model.Description)
                </h6>
            </div>
            <div class="center mar-1 col s12">
                <a asp-action="Edit" asp-route-id="@Model?.IDBlogType"><i class="fa-solid fa-pen-to-square dark-theme-accent hover-element fs-15 pad-1 tooltipped" data-position="top" data-tooltip="Edit"></i></a>
                <a asp-action="Index"><i class="fa-solid fa-arrow-left dark-theme-accent hover-element fs-15 pad-1 tooltipped" data-position="top" data-tooltip="Go back"></i></a>
            </div>
        </div>
    </div>
</div>
