@model IEnumerable<AstroShop.Data.Data.CMS.ProductsLinks>
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
    <h6 class=" fw-bold mb-4">Products</h6>
    @foreach (var item in Model)
    {
        <p>
            @Html.ActionLink(item.LinkTitle, "Index", "Shop", new {id=item.IDProductsLinks},new {@class= "nav-link text-light"})
        </p>
    }
</div>

