@model IEnumerable<AstroShop.Data.Data.Shop.Type>
@*<div class="container-fluid">
    <a class="navbar-brand nav-link" href="@Url.Action("Index", "Home")"><img src="https://iili.io/H8IDNf9.png" width="200" height="auto" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars text-light"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            @Html.ActionLink("Home", "Index", "Home", null, new {@class= "nav-link text-light"})
            @foreach (var item in Model)
            {
                <li class="nav-item">
                    @Html.ActionLink(item.Name, "Index", "Shop", new {id=item.IDType},new {@class= "nav-link text-light"})
                </li>
            }
        </ul>
    </div>
</div>*@
<div class="d-flex flex-wrap mx-auto my-3">
    @foreach (var item in Model)
    {
            @Html.ActionLink(item.Name, "Index", "Shop", new {id=item.IDType},new {@class= "nav-product-link"})
    }
</div>
