@model AstroShop.Data.Data.CMS.Blog

@{
    ViewData["Title"] = "Create";
}

<div class="dark-theme-primary-bg">
    <div class="swift-window mar-top-2 pad-2">
        <h4 class="pad-2" style="margin-left: 2rem;">Create blog</h4>
        <div class="row" style="padding:0rem 4rem;">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="red-text"></div>
                <div class="col s6">
                    <label asp-for="LinkTitle" style="margin-left: 0.5rem;font-size:1.2rem; color:white;"></label>
                    <input asp-for="LinkTitle" class="black-text" style="border-radius: 3px; padding: 0.5rem; margin-top: 1rem; margin-bottom: 1rem; background-color: #f9f9f9;" />
                    <span asp-validation-for="LinkTitle" class="red-text"></span>
                </div>
                <div class="col s6">
                    <label asp-for="Title" style="margin-left: 0.5rem;font-size:1.2rem; color:white;"></label>
                    <input asp-for="Title" class="gray-bg black-text" style="border-radius: 3px; padding: 0.5rem; margin-top: 1rem; margin-bottom: 1rem; background-color: #f9f9f9;" />
                    <span asp-validation-for="Title" class="red-text"></span>
                </div>
                <div class="col s12">
                    <label asp-for="Heading" style="margin-left: 0.5rem;font-size:1.2rem; color:white;"></label>
                    <input asp-for="Heading" class="gray-bg black-text" style="border-radius: 3px; padding: 0.5rem; margin-top: 1rem; margin-bottom: 1rem; background-color: #f9f9f9;" />
                    <span asp-validation-for="Heading" class="red-text"></span>
                </div>
                <div class="col s12">
                    <label asp-for="Content" style="margin-left: 0.5rem;font-size:1.2rem; color:white;"></label>
                    <input asp-for="Content" class="gray-bg black-text" style="border-radius: 3px; padding: 0.5rem; margin-top: 1rem; margin-bottom: 1rem; background-color: #f9f9f9;" />
                    <span asp-validation-for="Content" class="red-text"></span>
                </div>
                <div class="col s3">
                    <label asp-for="Author" style="margin-left: 0.5rem;font-size:1.2rem; color:white;"></label>
                    <input asp-for="Author" class="gray-bg black-text" style="border-radius: 3px; padding: 0.5rem; margin-top: 1rem; margin-bottom: 1rem; background-color: #f9f9f9;" />
                    <span asp-validation-for="Author" class="red-text"></span>
                </div>
                <div class="col s3">
                    <label asp-for="CreationDate" style="margin-left: 0.5rem;font-size:1.2rem; color:white;"></label>
                    <input asp-for="CreationDate" class="gray-bg black-text" style="border-radius: 3px; padding: 0.5rem; margin-top: 1rem; margin-bottom: 1rem; background-color: #f9f9f9;" />
                    <span asp-validation-for="CreationDate" class="red-text"></span>
                </div>
                <div class="col s3">
                    <label asp-for="ImageURL" style="margin-left: 0.5rem;font-size:1.2rem; color:white;"></label>
                    <input asp-for="ImageURL" class="gray-bg black-text" style="border-radius: 3px; padding: 0.5rem; margin-top: 1rem; margin-bottom: 1rem; background-color: #f9f9f9;" />
                    <span asp-validation-for="ImageURL" class="red-text"></span>
                </div>
                <div class="col s3">
                    <label asp-for="Category" style="margin-left: 0.5rem;font-size:1.2rem; color:white;"></label>
                    <input asp-for="Category" class="gray-bg black-text" style="border-radius: 3px; padding: 0.5rem; margin-top: 1rem; margin-bottom: 1rem; background-color: #f9f9f9;" />
                    <span asp-validation-for="Category" class="red-text"></span>
                </div>
                <div class="col s12">
                    <label asp-for="IDBlogType" style="margin-left: 0.5rem;font-size:1.2rem; color:white;"></label>
                    <select asp-for="IDBlogType" id="select-view" style="display: block;border-radius: 3px; margin-top: 1rem;padding: 0.5rem;" asp-items="ViewBag.Types"></select>
                    <span asp-validation-for="IDBlogType" class="red-text"></span>
                </div>

                <div class="center mar-1 col s12">
                    <button type="submit" style="border: none; background: transparent;">
                        <i class="fa-solid fa-check dark-theme-accent hover-element pad-2 fs-15 tooltipped" data-position="top" data-tooltip="Create"></i>
                    </button>
                    <a asp-action="Index"><i class="fa-solid fa-arrow-left dark-theme-accent hover-element fs-15 pad-1 tooltipped" data-position="top" data-tooltip="Go back"></i></a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
