@{
    ViewData["Title"] = "About";
}

<div class="vstack border-bottom text-dark min-vh-100 w-100">
    <div class="border-bottom p-5 text-center">
        <h1 class="text-dark display-4 my-2">About Us</h1>
    </div>
    <div class="d-flex flex-column p-sm-4 p-md-5">
        <h2 class="text-dark text-center my-4 display-6">We're a shop which puts our clients on the first place</h2>
        <div class="row mb-sm-0 mb-md-3 mx-0">
            <div class="col-sm-12 col-md-8">
                <p class="text-dark p-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis auctor elit sed vulputate. Tristique et egestas quis ipsum suspendisse ultrices
                    gravida dictum fusce. Lorem donec massa sapien faucibus et molestie ac feugiat. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Urna et pharetra pharetra massa. Etiam non quam
                    lacus suspendisse faucibus. Aliquam id diam maecenas ultricies mi eget. Vitae ultricies leo integer malesuada nunc. Morbi tempus iaculis urna id. Massa tincidunt dui ut ornare lectus. Pellentesque sit amet
                    porttitor eget. Massa placerat duis ultricies lacus sed turpis. Eget magna fermentum iaculis eu non diam phasellus.
                    Morbi non arcu risus quis. Massa sed elementum tempus egestas sed sed risus pretium. Sem fringilla ut morbi tincidunt augue. Ultrices eros in cursus turpis massa tincidunt dui ut ornare.
                    Aliquam id diam maecenas ultricies mi eget. Vitae ultricies leo integer malesuada nunc. Morbi tempus iaculis urna id. Massa tincidunt dui ut ornare lectus. Pellentesque sit amet
                    porttitor eget. Massa placerat duis ultricies lacus sed turpis. Eget magna fermentum iaculis eu non diam phasellus.
                </p>
            </div>
            <div class="col-sm-12 col-md-4 p-3">
                <img src="https://iili.io/H8IZrkx.jpg" class="w-100 h-auto" />
            </div>
        </div>
        <h3 class="text-dark text-center my-4 display-6">Our shop is supported by many respected Astronomy Institutes</h3>
        <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center p-4 w-100">
            <a class="logo-link" href="https://api.uva.nl/?cb" target="_blank">
                <img class="logo-width" src="https://iili.io/H8Itg6X.png" alt="University of Amsterdam Logo" />
            </a>
            <a class="logo-link" href="https://www.universiteitleiden.nl/en/science/astronomy" target="_blank">
                <img class="logo-width" src="https://iili.io/H8ItdQI.png" alt="Leiden University Logo" />
            </a>
            <a class="logo-link" href="https://www.astron.nl/" target="_blank">
                <img class="logo-width" src="https://iili.io/H8IZv1e.png" alt="Astron Space Logo" />
            </a>
            <a class="logo-link" href="https://www.esa.int/" target="_blank">
                <img class="logo-width" src="https://iili.io/H8IZQB1.png" alt="ESA Logo" />
            </a>
        </div>
        <h4 class="text-dark text-center my-3 display-6">Our products are directed for begginers and professionals in Astrophotography</h4>
        <p class="text-dark my-4 p-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis auctor elit sed vulputate. Tristique et egestas quis ipsum suspendisse ultrices
            gravida dictum fusce. Lorem donec massa sapien faucibus et molestie ac feugiat. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Urna et pharetra pharetra massa. Etiam non quam
            lacus suspendisse faucibus. Aliquam id diam maecenas ultricies mi eget. Vitae ultricies leo integer malesuada nunc. Morbi tempus iaculis urna id. Massa tincidunt dui ut ornare lectus. Pellentesque sit amet
            porttitor eget. Massa placerat duis ultricies lacus sed turpis. Eget magna fermentum iaculis eu non diam phasellus.
            Morbi non arcu risus quis. Massa sed elementum tempus egestas sed sed risus pretium. Sem fringilla ut morbi tincidunt augue. Ultrices eros in cursus turpis massa tincidunt dui ut ornare.
        </p>
        <h5 class="text-dark text-center my-3 display-6">Images taken by our customers</h5>
        <div class="w-75 h-auto my-2 d-flex align-self-center">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://iili.io/H8It3Bt.jpg" class="d-block w-100 h-auto" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Milkyway Galaxy</h5>
                            <p>Canon EOS R 16mm IOS 6400 10s</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://iili.io/H8IZPIV.jpg" class="d-block w-100 h-auto" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Aurora Borealis</h5>
                            <p>Canon EOS R3 14mm IOS 800 15ms</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://iili.io/H8Itzj2.jpg" class="d-block w-100 h-auto" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Nebula</h5>
                            <p>Canon EOS R iOptron Skytracker 1 100mm IOS 3200 60s Stacking</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://iili.io/H8Its9f.jpg" class="d-block w-100 h-auto" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Starry sky panorama</h5>
                            <p>Canon EOS 250D iOptron Skytracker 3 16mm IOS 6400 1s</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://iili.io/H8ItFEX.jpg" class="d-block w-100 h-auto" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Full Moon</h5>
                            <p>Nikon D750 600mm IOS 100 250ms</p>
                        </div>
                    </div>                   
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>


    </div>
</div>
