@{
    ViewData["Title"] = "Contact";
}

<div class="vstack text-dark min-vh-100 w-100 border-bottom">
    <div class="border-bottom p-5 text-center">
        <h1 class="text-dark display-4 my-2">Contact Us</h1>
    </div>
    <div class="container">
        <div class="row my-sm-2 my-md-4">
            <div class="col-12 my-4">
                <div class="row text-center">
                    <div class="col-sm-12 col-md-4">
                        <div class="d-flex flex-column">
                            <i class="fas fa-phone text-info heading-2 p-3"></i>
                            <h4 class="text-dark p-1">Call us</h4>
                            <a class="text-decoration-none text-info p-1" role="button">+31 234 567 89</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="d-flex flex-column">
                            <i class="fa-solid fa-envelope text-info heading-2 p-3"></i>
                            <h4 class="text-dark p-1">Send us an email</h4>
                            <a class="text-decoration-none text-info p-1" role="button">astroshop@gmail.com</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="d-flex flex-column">
                            <i class="fa-brands fa-whatsapp text-info heading-2 p-3"></i>
                            <h4 class="text-dark p-1">Write to us on Whatsapp</h4>
                            <a class="text-decoration-none text-info p-1" role="button">+31 234 567 88</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 my-4">
                <h2 class="display-6 text-center border-bottom py-4">Visit us in our store</h2>
                <div class="row py-3 mt-3">
                    <div class="col-sm-12 col-md-4">
                        <img src="https://iili.io/H8IZihB.jpg" class="w-100 h-auto" style="border-radius: 8px" />
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="w-75 mx-auto">
                            <h3 class="p-2">Our address</h3>
                            <p class="px-2">Cleopatraweg 3</p>
                            <p class="px-2">1013TE Amsterdam</p>
                            <p class="px-2">Netherlands</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="w-75 mx-auto">
                            <h3 class="p-2">Opening hours</h3>
                            <p class="px-2">Monday - Friday: 10:00 - 18:00</p>
                            <p class="px-2">Saturday: 12:00 - 16:00</p>
                            <p class="px-2">Sunday: Closed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
