@{
    ViewData["Title"] = "Home Page";
}
<div class="dark-theme-primary-bg">
    <div class="row">
        <div class="col s12 mar-top-2 mar-bottom-2">
            <div class="dark-theme-secondary-bg" style="border-radius:8px; display:flex; align-items: center; justify-content:center; flex-direction:row; padding:3rem;">
                <img src="https://iili.io/H8IDNf9.png" style="width: 300px; height: auto;" />
            </div>
        </div>
        
        <div class="col s12 m4">
            <div class="swift-window p-1">
            <div class="card">
                <div class="card-image">
                        <img src="https://iili.io/H8IZPIV.jpg" style="object-fit: cover; height: 40vh">
                    <div class="image-overlay"></div>
                    <span class="card-title z3 center">Photo of the week</span>
                </div>
            </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                        <img src="https://iili.io/H8ItAG9.jpg" style="object-fit: cover; height: 40vh">
                    <div class="image-overlay"></div>
                    <span class="card-title z3 center">Photo of the month</span>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image" style="transition: 0.3s ease;">
                    <img src="https://iili.io/H8ItCvf.jpg" style="object-fit: cover; height: 40vh">
                    <div class="image-overlay"></div>
                    <span class="card-title z3 center">Photo of the year</span>
                </div>
            </div>
        </div>
    </div>
</div>

