@model AstroShop.Data.Data.CMS.ContactLinks

@{
    ViewData["Title"] = "Edit";
}

<div class="dark-theme-primary-bg">
    <div class="swift-window mar-top-2 pad-2">
        <h4 class="pad-2" style="margin-left: 4rem;">Edit footer contact links</h4>
        <div class="row" style="padding:0rem 4rem;">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="red-text"></div>
                <input type="hidden" asp-for="IDContactLinks" />
              
                <div class="col s6">
                    <label asp-for="Title" style="margin-left: 0.5rem;font-size:1.2rem; color:white;"></label>
                    <input asp-for="Title" class="gray-bg black-text" style="border-radius: 3px; padding: 0.5rem; margin-top: 1rem; margin-bottom: 1rem; background-color: #f9f9f9;" />
                    <span asp-validation-for="Title" class="red-text"></span>
                </div>
                <div class="col s6">
                    <label asp-for="DisplayPosition" style="margin-left: 0.5rem;font-size:1.2rem; color:white;"></label>
                    <input asp-for="DisplayPosition" class="gray-bg black-text" style="border-radius: 3px; padding: 0.5rem; margin-top: 1rem; margin-bottom: 1rem; background-color: #f9f9f9;" />
                    <span asp-validation-for="DisplayPosition" class="red-text"></span>
                </div>
                <div class="col s6">
                    <label asp-for="Icon" style="margin-left: 0.5rem;font-size:1.2rem; color:white;"></label>
                    <input asp-for="Icon" class="gray-bg black-text" style="border-radius: 3px; padding: 0.5rem; margin-top: 1rem; margin-bottom: 1rem; background-color: #f9f9f9;" />
                    <span asp-validation-for="Icon" class="red-text"></span>
                </div>
                <div class="col s6">
                    <label asp-for="URLAdress" style="margin-left: 0.5rem;font-size:1.2rem; color:white;"></label>
                    <input asp-for="URLAdress" class="gray-bg black-text" style="border-radius: 3px; padding: 0.5rem; margin-top: 1rem; margin-bottom: 1rem; background-color: #f9f9f9;" />
                    <span asp-validation-for="URLAdress" class="red-text"></span>
                </div>
                <div class="col s12">
                    <label asp-for="Content" style="margin-left: 0.5rem;font-size:1.2rem; color:white;"></label>
                    <input asp-for="Content" class="gray-bg black-text" style="border-radius: 3px; padding: 0.5rem; margin-top: 1rem; margin-bottom: 1rem; background-color: #f9f9f9;" />
                    <span asp-validation-for="Content" class="red-text"></span>
                </div>
                

                <div class="center mar-1 col s12">
                    <button type="submit" style="border: none; background: transparent;">
                        <i class="fa-solid fa-check dark-theme-accent hover-element pad-2 fs-15 tooltipped" data-position="top" data-tooltip="Accept"></i>
                    </button>
                    <a asp-action="Index"><i class="fa-solid fa-arrow-left dark-theme-accent hover-element fs-15 pad-1 tooltipped" data-position="top" data-tooltip="Go back"></i></a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
